<nav class="navbar">
    <a class="nav-mongo-title" href="/"> Mongo Scrapper </a>
    <a class="a-tag-links active" href="/"> Home</a>
    <a class="a-tag-links" href="/saved">Saved Articles</a>
    <button id="scrapeButton"> Scrape New Articles </button>
</nav>
















