<nav class="navbar" id="savednav">
    <a class="nav-saved-title">Saved Articles </a>
    <a class="a-tag-links active" href="/">Home</a>
    <a class="a-tag-links" href="/saved">Saved Articles</a>
</nav>

    <div class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h3> Add Your Note Below </h3>
                <form>
                    <label for="note"></label>
                    <input type="text" name="note" id="noteId">
                    <button class="submitNote"> Submit </button>
                </form>
            </div>
        </div>
    </div>

<div id="savedArticlesHere">
</div>









